.background {
  background-color: lightblue;
  height: 100vh;
  background-image: url('/assets/background.jpg'); /* Si deseas usar una imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
  background-position: center; /* Centra la imagen de fondo */
}
