<div class="container">
  <h1>Hola ...Usuario...</h1>
  <div class="buttons">
    <button class="add-btn">Agregar Estudiante</button>
    <button class="edit-btn">Modificar Datos de estudiante</button>
    <button class="delete-btn">Eliminar Estudiante</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Direccion</th>
      </tr>
    </thead>
    <tbody>
      <!-- Las filas de la tabla se agregarán aquí dinámicamente -->
    </tbody>
  </table>
</div>

